:root {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: inherit;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

pre {
  font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  color: #2c3e50;
}

h1,h2,h3,h4 {
  font-weight: 900;
}

#root {
  display: grid;
  grid-gap: .5rem;
  height: 100vh;
  grid-template-columns: 5fr 3fr;
}